services:
  next-server:
    build: .
    container_name: pedrondong
    ports:
      - "127.0.0.1:3000:3000"
    restart: always # Si el servidor se cae, Docker lo levanta solo
    # Esto le dice a Docker que lea las variables de tu archivo .env local
    env_file:
      - .env

