services:
  next-server:
    build: .
    container_name: pedrondong
    ports:
      - "3000:3000"
    restart: always # Si el servidor se cae, Docker lo levanta solo
    environment:
      - NODE_ENV=production
      # Aquí puedes añadir tus variables de entorno (.env)
      - DATABASE_URL=tu_url_aqui

