
services:
  # Tu aplicación Next.js
  pedrondong:
    build: .
    # No mapeamos puertos aquí para que solo Nginx sea accesible desde afuera
    deploy:
      replicas: 3  # Levantará 3 contenedores iguales
    restart: always

  # El balanceador de carga
  gateway:
    image: nginx:alpine
    ports:
      - "80:80"  # El mundo entra por el puerto 80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - pedrondong