services:
  next-server:
    build:
      context: .
      dockerfile: Dockerfile
      # Habilita el cache de BuildKit de forma más agresiva
      cache_from:
        - next-server:latest
    container_name: pedrondong
    image: next-server:latest # Etiquetar la imagen ayuda al cache de Docker
    ports:
      - "127.0.0.1:3000:3000"
    restart: always
    env_file:
      - .env
    # Limitar recursos evita que el build "congele" tu máquina si es limitada
    deploy:
      resources:
        limits:
          memory: 2G